/*------------------------ BASE ------------------------*/


* {
    box-sizing: border-box;

    /* margin: 0; padding: 0; bonne méthode reset tout le html, on peut aller sur google et taper reset CSS */
}

html {
    /*  en général, on reset la taille a 62.5% car cela réféfini la fonte size de 
    base a 10 pixel plus siimple pour générer notre font-size différement selon les éléments 
    qu'on souhaite */

    /* Comme ça 1.6rem est = a 16px */

    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: #555;
    margin: 0;

}

a {
    text-decoration: none;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {

    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}



    /* Pour les écrans avec une taille minimal de 750px alors j'applique ce CSS, 
    en dessous ce CSS ne marchera pas pour le container */

@media screen and (min-width:750px) {

    .container {
        max-width: 1200px;
        background: black;
        margin: 0 auto;
        padding: 2rem;
    }
}

/*------------------------ SECTION ------------------------*/

.header {
    background-color: #FFF;
    border-bottom: 1px solid #EEE;    
}

.header a {
    color: #333;
}

.header .logo {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 .5rem;
}

.image__profil {
    height: 453px;
}